body {
  background-color: black;
}

header {
  display: flex;
  height: 12vh;
  background-color: black;
  display: inline-block;
}

.rectangle {
  width: 200px;
  height: 50px;
  background-color: #cbad64;
  position: absolute;
  margin-left: 500px;
  margin-top: -50px;
 
}

main {
  height: auto;
  width:  auto;
}

.phrase1 {
  color: white;
  font-size: 44px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

p {
  color: white;
  font-size: 14px;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 100px;
  margin-left: 150px;
  margin-top: 80px;
  display: inline-block;
  position: relative;
}

h2 {
  color: white;
  font-size: 14px;
  margin-left: 25px;
  margin-right: 25px;
}

#suite
{
margin:0;
display:none;
color: white;
font-size: 40px;

}

.lunettes { /* image veste Kingsman */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: black;
  margin-left: 100px;
  margin-bottom: 50px;
}

.badge { /* Logo Kingsman */
  display: inline-flex;
  width: 15%;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 20px; 
}

.deroulant {
  color: #cbad64;
  text-decoration: none;
  font-size: 50px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;

}

@media (min-width: 1366px) {
  
header {
display: flex;
height: 17vh;

}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-left: 400px;
  margin-top: 25px;
  display: inline-block;
  position: relative;
}

.rectangle {
  width: 150px;
  height: 25px;
  background-color: #cbad64;
  position: absolute;
  margin-left: 650px;
  margin-top: 55px;
 
}

 .phrase1 {
  font-size: 29px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px; 
 }

  p {
    font-size: 16px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
  }
  h2 {
    font-size: 18px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }

  .badge {
    display: inline-flex;
    width: 150px;
    height: 150px;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 20px; 
  }

  .lunettes {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  background-color: black;
  margin-left: 480px;
  margin-bottom: 50px;
  }

  .deroulant {
    color: #cbad64;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px; 
  }
}
