body {
  background-color: white;
}

.home-container {
  margin: 0;
  padding: 0;
  background: url(../images/fondv2.png) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

.logo {
  display: inline-flex;
  width: 15%;
}

.kingsman {
  display: inline-flex;
  position: absolute;
  color: #c19e67;
  margin-top: 5%;
}

.citation {
  color: white;
  font-style: italic;
  margin-top: 50%;
  text-align: center;
}

a.bouton {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: #c19e67;
  margin-top: 10%;
  margin-left: 25%;
}