@font-face {
	font-family: "Athelas-Regular.ttf";
    src: url('fonts/Athelas-Regular.ttf') format('ttf');
}

body {
  background-color: black;
}

/*.black-bg{
  background:linear-gradient( rgba(0, 0, 0, 0),#000);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50vh;
} */

/*image acceuil*/
.home-container { 
  margin: 0;
  padding: 0;
  background: url(../images/fondv2.png) no-repeat center;
  background-size: cover;
  background-position: relative;
  height: 100%;
}

/*logo kingsman*/
.logo {
  display: inline-flex;
  width: 15%;
}

/*ecriture a coté du logo*/
.kingsman {
  display: inline-flex;
  position: absolute;
  color: #c19e67;
  margin-top: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*la citation*/
.citation {
  color: white;
  font-style: italic;
  margin-top: 50%;
  text-align: center;
  font-family: 'Athelas-Regular', sans-serif;
  font-weight: bold;
  font-size: 26px;
}

/* nom de la personne de la citation */
.nom {
  color: white;
  font-style: italic;
  margin-left: 78%;
  margin-top: 4%;
  font-family: 'Athelas-Regular', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/*le bouton s'équiper*/
.bouton {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: #c19e67;
  margin-top: 30%;
  margin-left: 90px;
  border-radius: 5px;
  text-decoration: none;
}

/*section du costume*/
.produit1 {
  display: inline-block;
  width: 100vw;
  margin-top: 100px
}

/*l'image du costume*/
.costume {
  display: inline-block;
  width: 100%;
  margin-top: 1%;
}

/*titre du produit costume*/
.kingsuit {
  display: inline-block;
  color: white;
  font-size: 25px;
  margin-left: 35%;
  margin-top: 4vh;
  font-family: 'Athelas-Regular', sans-serif;
}

.rectangle {
  position: relative;
  top: -2vh;
  left: 50%;
  width: 70px;
  background: #c19e67;
  height: 18px;
  z-index: -1;
}

/* bouton équiper*/
.equiper {
  display: inline-block;
  padding: 10px 30px;
  color: #c19e67;
  background-color: black;
  margin-top: 10%;
  margin-left: 27vw;
  border-radius: 5px;
  border: 2px solid #c19e67;
  text-decoration: none;
}

/*bloc du parapluie*/
.produit2 {
  display: inline-block;
  width: 100vh;
}

/* titre du parapluie */
.titre2 {
  display: inline-block;
  color: white;
  font-size: 25px;
  margin-left: 35%;
  margin-top: 30%;
  font-family: 'Athelas-Regular', sans-serif;
}

/* image du parapluie*/
.imgparapluie {
  display: inline-block;
  width: 80%;
  margin-top: 15%;
  margin-left: 10%;
}

/*bloc des lunettes*/
.produit3 {
  display: inline-block;
  height: 100vh;
}

/* titre des lunettes */
.titre3 {
  display: inline-block;
  color: white;
  font-size: 25px;
  margin-left: 35%;
  margin-top: 30%;
  font-family: 'Athelas-Regular', sans-serif;
}

/* image des lunettes */
.imglunette {
  display: inline-block;
  width: 80%;
  margin-left: 10%;
  margin-top: 15%;
}

/*image article 1*/
.article1 {
  background: url(../images/Article\ 1.png) no-repeat center;
  height: 50vh;
  background-size: cover;
  text-align: center;
  margin-top: 100px;
}

/*image article 2*/
.article2 {
  background: url(../images/Article\ 2.png) no-repeat center;
  height: 50vh;
  background-size: cover;
  text-align: center;
}

/* texte de l'article 1*/
.nomarticle1, .nomarticle2 {
  position: relative;
  display: inline-block;
  color: white;
  margin-top: 25vh;
  font-family: 'Athelas-Regular', sans-serif;
  font-size: 19px;
}

footer {
  display: inline-block;
  height: 10vh;
  background-color: white;

}

.facebook {
  width: 10%;
  margin-left: 65%;
  margin-top: 3%;
}

.twitter {
  width: 10%;
}

.instagram {
  width: 11%;
}

@media (min-width: 1366px) {
  body {
    background-color: black;
  }
  
  /*image acceuil*/
.home-container { 
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: relative;
  height: 100vh;
}

.logo {
  display: inline-flex;
  width: 7%;
  margin-top: 50px;
  margin-left: 50px;

}

  /*.black-bg{
    background:linear-gradient( rgba(0, 0, 0, 0),#000);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50vh;
  } */
  
  /*ecriture a coté du logo*/
  .kingsman {
    color: #c19e67;
    margin-top: 5%;
    font-size: 30px;
    position: fixed;
  }
  
  /*la citation*/
  .citation {
    margin-top: 10%;
    font-size: 60px;
    text-decoration: none;
  }
  
  /* nom de la personne de la citation */
  .nom {
    margin-left: 70%;
    margin-top: 3%;
    font-size: 30px;
  }
  
  /*le bouton s'équiper*/
  .bouton {
    padding: 20px 40px;
    margin-top: 6%;
    margin-left: 613px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /*section du costume*/
  .produit1 {
    display: inline-block;
    width: 100vw;
    height: 100vh;
  }
  
  /*l'image du costume*/
  .costume {
    width: 40vw;
    margin-top: 90px;
    margin-left: 150px;
  }
  
  /*titre du produit costume*/
  .kingsuit {
    position: absolute;
    float: right;
    font-size: 80px;
    margin-left: 880px;
    margin-top: 300px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .rectangle {
    position: relative;
    top: 350px;
    left: 75%;
    width: 240px;
    background: #c19e67;
    height: 40px;
    z-index: -1;
  }
  
  /* bouton équiper*/
  .equiper {
    position: absolute;
    margin-top: 520px;
    margin-left: 300px;
    border-radius: 10px;
    border: 2px solid #c19e67;
    text-decoration: none;
    font-size: 25px;
  }
  
  /*bloc du parapluie*/
  .produit2 {
    display: inline-block;
    width: 100vw;
    height: 100vh;
  }
  
  /* titre du parapluie */
  .titre2 {
    position: absolute;
    font-size: 80px;
    margin-left: 880px;
    margin-top: 300px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* image du parapluie*/
  .imgparapluie {
    display: inline-block;
    width: 40%;
    margin-top: 90px;
    margin-left: 150px;
  }
  
  /*bloc des lunettes*/
  .produit3 {
    display: inline-block;
    height: 100vh;
    width: 100vw;
  }
  
  /* titre des lunettes */
  .titre3 {
    position: absolute;
    font-size: 80px;
    margin-left: 880px;
    margin-top: 300px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* image des lunettes */
  .imglunette {
    display: inline-block;
    width: 40%;
    margin-left: 90px;
    margin-top: 150px;
  }
  
  /* texte de l'article 1*/
  .nomarticle1, .nomarticle2 {
    font-size: 50px;
  }
  
  footer {
    height: 12vh;
  }
  
  .facebook {
    width: 5%;
    margin-left: 75%;
    margin-top: 1%;
  }
  
  .twitter {
    width: 5%;
  }
  
  .instagram {
    width: 5%;
  }
}