body {
  background-color: white;
}

.home-container {
  margin: 0;
  padding: 0;
  background: url(../images/fondv2.png) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 8vh;
}

.logo {
  height: 100%;
}